<div class="row">
  <div class="col-md-7 col-sm-12 ">
      <h2 class="mt-1">LiDAR Survey</h2> <br>
      <p class="mt-1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LiDAR (Light Detection and Ranging) survey is an advanced remote sensing technology that uses laser light to measure distances and generate high-resolution, three-dimensional maps of the Earth's surface. It works by emitting rapid pulses of laser light, which bounce back after striking objects on the ground, allowing the system to calculate the precise distance to those objects. By measuring the time it takes for each laser pulse to return, LiDAR is able to create detailed, accurate representations of the terrain, vegetation, and built structures within an area. <br> <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;One of the key advantages of LiDAR is its ability to penetrate through tree canopies and other vegetation, providing a clear view of the ground beneath. This makes it an invaluable tool in various applications such as topographic mapping, forestry management, urban planning, and environmental monitoring. In forestry, LiDAR is used to assess tree height, canopy density, and forest structure, enabling better forest management practices. In urban planning, LiDAR data is utilized to create detailed 3D models of cities, helping with infrastructure development, flood modeling, and landscape analysis. <br> <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LiDAR also plays a significant role in environmental monitoring, where it can be used to assess changes in landforms, such as erosion or vegetation growth. The resulting point clouds, which represent a dense collection of 3D points, can be processed into Digital Elevation Models (DEMs) and other geospatial products. These models are then used for precise analysis, enabling more informed decision-making in various fields. By integrating LiDAR data with other technologies like GIS, professionals can gain a deeper understanding of complex landscapes, improving resource management, planning, and conservation efforts.</p>
  </div>
  <div class="col-md-5 col-sm-12">
    <img class="service_detail_img" src="/lidardetail_img.jpg" alt="">
  </div>
</div>
