<div class="row" style="margin-left: 3px;">
    <div class="col-3">
        <h2>Address</h2>
           <p><i class="bi bi-geo-alt-fill"></i> Plot No: 32, behind sai mandir, Jyoti Nagar Parisar New Usmanpura chhatrapati Sambhajinagar (Aurangabad) 431005</p>
            
            <p><i class="bi bi-telephone-fill"></i> +919096244262</p>
            <p><i class="bi bi-envelope"></i> {{email}} </p>
    </div>
    <div class="col-3">
        <h2>Quick Links</h2>
        <h5 routerLink="home">&gt; Home</h5>
        <h5 routerLink="aboutus">&gt; About Us</h5> 
        <h5 routerLink="solutions">&gt; Services</h5>
        <h5 routerLink="contact">&gt; Contact</h5>
    </div> 
    <div class="col-3">
        <h2>Services</h2>
        <h5 routerLink="drone-survey">&gt; Drone-Survey</h5> 
        <h5 routerLink="mine-mapping-analysis">&gt; Mine Mapping Analysis</h5> 
        <h5 routerLink="watershed-analysis">&gt; Watershed Analysis</h5>
        <h5 routerLink="cad-mapping">&gt; Cad Mapping</h5>
    </div>

</div>