<div class="row">
  <div class="col-md-7 col-sm-12 ">
      <h2 class="mt-1">Remote Sensing</h2> <br>
      <p class="mt-1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Improved satellite imagery and drone technology have transformed data collection and analysis, providing high-resolution insights crucial for industries like agriculture, forestry, and environmental monitoring. These technologies capture detailed imagery from both space and the air, offering a more accurate view of large landscapes. In agriculture, satellite imagery helps monitor crop health, soil conditions, and irrigation patterns, allowing farmers to make informed decisions about planting and fertilizing. Drones further enhance this by offering real-time, localized monitoring, enabling farmers to address specific issues and optimize crop yields. <br> <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In forestry, the combination of satellite imagery and drones is essential for monitoring forest health, tracking deforestation, and managing conservation. Satellites capture large-scale data on forest coverage, while drones offer detailed views of areas affected by diseases, pests, or disasters. This helps forestry professionals make informed decisions on replanting, pest control, and fire prevention. Drones also quickly assess hard-to-reach areas, reducing time and resources needed for ground surveys.<br> <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Environmental monitoring benefits greatly from these technologies, providing precise data on land use, water quality, and climate patterns. Satellite imagery offers a broad view of environmental changes, while drones enable detailed assessments of ecosystems like wetlands or coastal areas. This high-resolution data is crucial for addressing environmental issues such as pollution, habitat destruction, and climate change. As these technologies advance, their ability to provide accurate, timely data will enhance our capacity to manage natural resources and protect the environment for future generations.</p>
  </div>
  <div class="col-md-5 col-sm-12">
    <img class="service_detail_img" src="/remotesensingdetail_img.jpg" alt="">
  </div>
</div>
