
<div class=" bg-about_us">
  <div class="row mt-5  ">
    <small>The first GIS, created by Dr. John Snow in 1854, mapped cholera outbreaks in London.</small>
    <div class="col-md-7 col-sm-12 mt-3">
      <h2>Flyview GIS Technology Pvt Ltd</h2>
      <p class="mt-3">
        Several years ago, we began our journey as an institution dedicated to specializing in Geographic Information Systems (GIS). Since then, we have evolved into a leading provider of comprehensive GIS solutions and expertise, serving multinational corporations across various industries. Our commitment to excellence has driven us to offer a wide range of services, including spatial data analysis, mapping, and the implementation of geospatial technologies. By providing precise geographic information, we empower our clients to make well-informed decisions, enhancing their operational efficiency and strategic planning. <br><br>

        Our team of experts is ITT-Council certified, a testament to their proficiency in the latest GIS methodologies and technologies. This certification ensures that our professionals remain at the forefront of the industry, delivering cutting-edge solutions that meet the evolving needs of our clients. Beyond providing services, we are proud to be an Authorized Training Center for GIS, certified by ITTC Delhi. Through our training programs, we are committed to equipping professionals with the essential GIS skills needed to drive innovation and efficiency within their organizations, fostering a culture of continuous learning and development. <br><br>

        By leveraging advanced GIS tools and software, we help our clients visualize, analyze, and interpret complex data sets. This capability is crucial for understanding spatial relationships and patterns, which are vital for effective decision-making in today's data-driven world. Our solutions not only enhance the accuracy and reliability of geographic data but also support our clients in optimizing their resources, improving productivity, and achieving their strategic goals. Through our expertise and dedication, we continue to be a trusted partner for organizations seeking to harness the power of GIS.</p>
    </div>
    <div class="col-md-5 col-sm-12 mt-5">
      <img src="/about_image.jpg" alt="service Image" class="mt-5 about_image">
    </div>

  </div>

  <div class="text-center mt-5 ">
    <a class="btn btn-info mt-2" routerLink="../home" routerLinkActive="active"><i class="fa fa-arrow-left m-1 "></i><span>Back</span></a>
  </div>
</div>
