<h1>Contact Us</h1>

<div class="row">
    <div class="col-6">
        
        <form>
            <div class="row" >
                <div class="col-4">
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="col-6">
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
            </div>
            <div class="row" >
                <div class="col-4">
                    <input type="tel" id="phone" name="phone" placeholder="Enter your mobile number" required>
                </div>
                <div class="col-6">
                    <input type="text" id="subject" name="subject" placeholder="Enter the subject" required>
                </div>
            </div>
            <div class="row" >
                <div class="col-12" >
                    <textarea id="message" name="message" rows="5"  placeholder="Enter your message" required></textarea>
                </div>
            </div>
            <button type="submit">Send Message</button>
        </form>
    </div>
    <div class="col-6">

        <h2>Company Contact Information</h2>
        <p><strong>Phone:</strong> +1-234-567-890</p>
        <p><strong>Email:</strong> infocompany.com</p>
        <p><strong>Address:</strong> 123 Main Street, City, Country</p>

        <h2>Our Location</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.835434509404!2d144.96305761531888!3d-37.81627944202112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577dc2e99b2a196!2s123%20Main%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sus!4v1613982138673!5m2!1sen!2sus"
            allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>