<div class="content_service_top">
  <div class="mt-5">
    <h2>Tailored Solutions, Just for You !</h2>
    <div class="row mt-3 g-4 serviceBlur">
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard" data-wow-delay="0.3s">
          <div class="service-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/crimeService.png" alt="">
              </div>
              <h4 class=" featureTitle">Crime Analysis</h4>
              <p class="detailInfo">Crime analysis and mapping is a crucial process used by law enforcement agencies to enhance public safety by understanding and addressing crime patterns. </p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12  wow fadeInUp serviceCard" data-wow-delay="0.5s">
          <div class="service-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/dronesurvey.png" alt="">
              </div>
              <h4 class="">Drone Survey</h4>
              <p class="detailInfo" >Drone surveys utilize unmanned aerial vehicles (UAVs) equipped with cameras and sensors to capture high-resolution images and data from the air.</p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active" ><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard servicewater" data-wow-delay="0.7s">
          <div class="service-item  p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/watershed.png" alt="">
              </div>
              <h4 class="">Watershed Analysis</h4>
              <p class="detailInfo" >Watershed analysis studies land areas draining into a specific water body, like a river, lake, or reservoir, to understand water flow and ecosystem impact. </p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard servicewater" data-wow-delay="0.7s">
        <div class="service-item  p-4">
            <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/minemapping.png" alt="">
            </div>
            <h4 class="">Mine Mapping & Analysis</h4>
            <p class="detailInfo" > Mining mapping uses GIS and remote sensing to manage resources, integrating data for estimation, plannin and real-time monitoring with IoT.</p>
            <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
    </div>
    </div>
  </div>
</div>
<div class="content_service_middle">
  <div class="mt-2">
    <div class="row mt-3 g-4 serviceBlur">
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard" data-wow-delay="0.3s">
          <div class="service-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/cadastralmapping.png" alt="">
              </div>
              <h4 class=" featureTitle">Cadastral Mapping</h4>
              <p class="detailInfo">Cadastral mapping creates detailed maps defining land ownership, boundaries,aiding property management, planning, and real-time GIS analysis. </p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12  wow fadeInUp serviceCard" data-wow-delay="0.5s">
          <div class="service-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/contourmapping.png" alt="">
              </div>
              <h4 class="">Contour Mapping</h4>
              <p class="detailInfo" >Contour mapping is land elevation with contour lines, helping in site planning, drainage, soil conservation, and help for construction and resource management.</p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active" ><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard servicewater" data-wow-delay="0.7s">
          <div class="service-item  p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/cadmapping.png" alt="">
              </div>
              <h4 class="">CAD Mapping</h4>
              <p class="detailInfo" >CAD mapping uses software to create detailed 2D/3D designs of structures and landscapes, aiding in architecture, engineering, and planning with efficiency.</p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard servicewater" data-wow-delay="0.7s">
        <div class="service-item  p-4">
            <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/lidarsurvey.png" alt="">
            </div>
            <h4 class="">LiDAR Survey</h4>
            <p class="detailInfo" >LiDAR uses laser light to create 3D maps of the Earth's surface, capturing topography, vegetation, and structures, forestry, and urban planning.</p>
            <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
    </div>
    </div>
  </div>
</div>
<div class="content_service_lower">
  <div class="mt-2">
    <div class="row mt-3 g-4 serviceBlur">
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard" data-wow-delay="0.3s">
          <div class="service-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/realtimedataprocessing.png" alt="">
              </div>
              <h4 class=" featureTitle">Real-time Data Processing</h4>
              <p class="detailInfo">IoT and sensor networks enable real-time data collection and processing, providing timely insights and responses for traffic management and emergency response.</p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12  wow fadeInUp serviceCard" data-wow-delay="0.5s">
          <div class="service-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/3dgis.png" alt="">
              </div>
              <h4 class="">3D GIS</h4>
              <p class="detailInfo" >Advancements in 3D modeling improve urban analysis, infrastructure management, Environmental assessments with geographic representations..</p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active" ><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard servicewater" data-wow-delay="0.7s">
          <div class="service-item  p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="/remotesensing.png" alt="">
              </div>
              <h4 class="">Remote Sensing</h4>
              <p class="detailInfo" >Improved satellite imagery and drone technology enable high-resolution data collection, essential for agriculture, forestry, and environmental monitoring.</p>
              <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 wow fadeInUp serviceCard servicewater" data-wow-delay="0.7s">
        <div class="service-item  p-4">
            <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="/geospatialdatascience.png" alt="">
            </div>
            <h4 class="">Geospatial Data Science</h4>
            <p class="detailInfo" >This approach combines GIS with data science to extract insights from spatial data, supporting fields like epidemiology, climate science, and urban studies.</p>
            <a class="btn-slide mt-2" routerLink="/services" routerLinkActive="active"><i class="fa fa-arrow-right"></i><span>Read More</span></a>
        </div>
    </div>
    </div>
  </div>
</div>
