
<div class=" bg-about_us">
  <div class="row mt-3  ">

    <div class="col-md-4 col-sm-12 m-5">
      <img src="/directordeskImg.jpg" alt="service Image" class="mt-5 about_image">
    </div>
    <div class="col-md-7 col-sm-12 mt-3">
      <small>The first GIS, created by Dr. John Snow in 1854, mapped cholera outbreaks in London.</small>
      <h2 class="text-center">Director's Desk</h2>
      <p class="mt-3">
        Welcome to Flyview GIS Technology Pvt Ltd! Since our founding in 2017, we have been steadfast in our commitment to delivering excellence in Land Surveying and Geographic Information System (GIS) mapping services. Our journey is marked by consistent growth, fueled by innovation and a deep-seated dedication to providing top-tier solutions. At Flyview GIS, we understand the profound impact GIS technology can have on decision-making processes, and we are passionate about harnessing its potential to benefit our clients and the communities they serve. <br><br>
        Our mission is to lead in the ever-evolving field of GIS by offering accurate, timely, and effective solutions tailored to meet the unique needs of each client. In today's fast-paced, data-driven environment, precision in mapping is more critical than ever. We pride ourselves on our ability to deliver detailed and reliable information that serves as a foundation for success. Our team of highly skilled professionals is the driving force behind our success. Equipped with state-of-the-art tools and extensive expertise, they are committed to achieving excellence in every project, regardless of its size or complexity. Their dedication to quality, accuracy, and innovation ensures that we consistently exceed client expectations.<br><br>
        As we look to the future, our unwavering commitment to integrity, customer satisfaction, and continuous improvement remains at the heart of our operations. We invite you to explore the comprehensive range of services we offer and to connect with us to learn more about how Flyview GIS can be a valuable partner in your success. Our team is excited about the opportunity to collaborate with you and to contribute to your growth and achievements. Thank you for considering Flyview GIS Technology Pvt Ltd for your mapping and GIS needs. We are eager to embark on this journey together and look forward to building a lasting partnership.<br><br>
        Warm regards,<br>
        Dr. Aniket Borgawkar <br>
        Director, Flyview GIS Technology Pvt Ltd</p>
    </div>


  </div>

  <div class="text-center mt-5 ">
    <a class="btn btn-info mt-2" routerLink="../home" routerLinkActive="active"><i class="fa fa-arrow-left m-1 "></i><span>Back</span></a>
  </div>
</div>
