/* You can add global styles to this file, and also import other style files */
.content_section{
 margin: 25px;


}

.service_detail_img{
  position: relative;
  top: 30%;
  height:auto;
  width: 85%;
  margin-left:50px ;
}

@media (max-width: 750PX) {
  .service_detail_img{
    position: relative;
    top: 10%;
    height:auto;
    width: 80%;
  }
 }
