<!-- Carousel Start -->
<div class="row" >
<div id="carouselExampleIndicators" class="header-carousel carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> -->
    <div class="header-carousel-item carousel-inner carousel-item active">
        <img src="carousel-2.jpg" class="img-fluid d-block w-100" style="height: 600px;" alt="Image">
        <div class="carousel-caption">
            <div class="container align-items-center py-4">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-7 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s"
                        style="animation-delay: 1s;">
                        <div class="text-start">
                            <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome to Flyview GIS Technology</h4>
                            <h3 class="display-4 text-uppercase text-white mb-4">Geotech GIS Training Institute And
                                consultancy services</h3>
                            <p class="mb-4 fs-5">Fostering Geo-spatial Technology Adaptation with Space Based Solutions.
                            </p>
                            <div class="d-flex flex-shrink-0">
                                <a class="btn btn-primary rounded-pill text-white py-3 px-5"
                                    href="aboutus">Read More..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row" >
  <div class="container-fluid about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.2s">
                <div>
                    <h4 class="text-primary">About Flyview GIS Technology</h4>
                    <h1 class="display-5 mb-4">Excellence Land Survey and Geographic Information System (GIS)</h1>
                    <p class="mb-5">Geotech GIS Training Institute & Consultancy Services maintains robust connections with the geospatial industry, ensuring our curriculum remains current with the latest advancements and trends.
                        Geotech GIS Training Institute & Consultancy Services established in 2017, is a pioneering institution focused on empowering individuals with the knowledge and skills needed to excel in the dynamic realm of Geographic Information Systems (GIS). Recognizing the growing importance of geospatial technology across industries, we set out to bridge the gap between theory and practice.
                        <br>
                        At Geotech GIS Training Institute & Consultancy Services our vision is to stand at the forefront of geospatial excellence. We are committed to pushing the boundaries of what is possible in the field of Geographic Information Systems (GIS), Geoinformatics, and Remote Sensing. Our aim is to set new standards for innovation, quality, and impact in the geospatial industry. We aspire to become a global leader in geospatial education and research, consistently delivering cutting-edge knowledge and solutions to address the world's most complex challenges.              
                    </p>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="position-relative rounded">
                    <div class="rounded" style="margin-top: 40px;">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="rounded mb-4">
                                    <img src="geospatialdatascience.png" class="img-fluid rounded w-100" alt="">
                                </div>
                                <div class="row gx-4 gy-0">
                                    <div class="col-6">
                                        <div class="counter-item bg-primary rounded text-center p-4 h-100">
                                            <div class="counter-item-icon mx-auto mb-3">
                                                <i class="fas fa-thumbs-up fa-3x text-white"></i>
                                            </div>
                                            <div class="counter-counting mb-3">
                                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">50</span>
                                                <span class="h1 fw-bold text-white">K +</span>
                                            </div>
                                            <h5 class="text-white mb-0">Happy Visitors</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="counter-item bg-dark rounded text-center p-4 h-100">
                                            <div class="counter-item-icon mx-auto mb-3">
                                                <i class="fas fa-certificate fa-3x text-white"></i>
                                            </div>
                                            <div class="counter-counting mb-3">
                                                <span class="text-white fs-2 fw-bold" data-toggle="counter-up">22</span>
                                                <span class="h1 fw-bold text-white"> +</span>
                                            </div>
                                            <h5 class="text-white mb-0">Awwards Winning</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rounded bg-primary p-4 position-absolute d-flex justify-content-center" style="width: 90%; height: 80px; top: -40px; left: 50%; transform: translateX(-50%);">
                        <h3 class="mb-0 text-white">8 Years Experiance</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
